@font-face {
    font-family: 'pixeledregular';
    src: url('pixeled-webfont.woff2') format('woff2'),
         url('pixeled-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'pixeledregular';
}

#color-selector {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 120px;
    background: black;
}

.marker {
    width: 40px;
    height: 40px;
    float: left;
}

.marker.selected {
    border: 2px solid white;
}

body {
    padding: 0;
    margin: 0;
    background-image: url('./images/bg.png');
    background-size: cover;
}

#main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#main{
  position: absolute;
  margin-left: 10%;
  margin-right: 0%;
  margin-top: -5%;
  margin-bottom: 0%;
  border-radius: 50%;
  background-color: #749a02;
  -webkit-animation-name: greenPulse;
  animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
 
}
#right:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button#up{
  position: absolute;
  margin-left: 25%;
  margin-right: 0;
  margin-top: -15%;
  margin-bottom: 0%;
  border-radius: 50%;
  background-color: #749a02;
  -webkit-animation-name: greenPulse;
  animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#up:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button#down{
  position: absolute;
  margin-left: -25%;
  margin-right: 0%;
  margin-top: 5%;
  margin-bottom: 0%;
  border-radius: 50%;
  background-color: #749a02;
  -webkit-animation-name: greenPulse;
  animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
 
}
#down:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button#left{
  position: absolute;
  margin-left: -10%;
  margin-right: 0%;
  margin-top: -5%;
  margin-bottom: 0%;
  border-radius: 50%;
  background-color: #749a02;
  -webkit-animation-name: greenPulse;
  animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
 
}
#left:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



#login-btn{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20px;
}
#login-btn:hover {background-color: #3e8e41}
#login-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#signup-btn{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20px;
}
#signup-btn:hover{background-color: #3e8e41}
#signup-btn:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#parent-div{
    position:relative;
}

#leaderboard{
  border:1px solid yellow;
  color:yellow;
}

/*WAITING ROOM*/
#waiting-room{
  color: #749a02;
  -webkit-animation-name: greenPulse;
  animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*FOR PHONE */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

 * {
  box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-image: url('./images/bg.png');
    background-size: cover;
    overflow-x: hidden;
    position: fixed;
}

#main{
  padding:250px;
  size: relative;
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  border: 1px solid yellow;
}

button.controller{
  height:50px !important;
  width:50px !important;
}
button#up{
  position: absolute;
  margin-left: 25%;
  margin-right: 0;
  margin-top: -15%;
  margin-bottom: 0%;
  border-radius: 50%;
  background-color: #749a02;
  -webkit-animation-name: greenPulse;
  animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
 
}
#up:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button#down{
  position: absolute;
  margin-left: -25%;
  margin-right: 0%;
  margin-top: 5%;
  margin-bottom: 0%;
  border-radius: 50%;
  background-color: #749a02;
  -webkit-animation-name: greenPulse;
  animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
 
}
#down:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button#left{
  position: absolute;
  margin-left: -10%;
  margin-right: 0%;
  margin-top: -5%;
  margin-bottom: 0%;
  border-radius: 50%;
  background-color: #749a02;
  -webkit-animation-name: greenPulse;
  animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
 
}
#left:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#login-btn{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20px;
}
#login-btn:hover {background-color: #3e8e41}
#login-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#signup-btn{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20px;
}
#signup-btn:hover{background-color: #3e8e41}
#signup-btn:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#parent-div{
    position:relative;
}

#leaderboard{
  border:1px solid yellow;
  color:yellow;
  display:inline-flex;
  padding:20px;
  position:absolute;
  right:100px;
  opacity:.3;
}

#score{
  text-align: right;
}

.blue{
  color: #34b7ea;
}

.yellow{
  color: #ffa500;
}

.purple{
  color: #8e66d9 !important;
}

.green{
  color: #4cd814;
}

#logo{
  width:1250px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  background-repeat:no-repeat;
  margin:0 auto;
  align-items: center;
}

#logoName{
  margin:0 auto;
}

#banner{
  width:90%;
}

#play{
  width: 350px;
  height: 70px;
  background-image: url(./images/sketch_images/play.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: transparent;
}

#play:hover{
  border:none;
}

#play:active{
  width: 350px;
  height: 70px;
  background-image: url(./images/sketch_images/active-play.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: transparent;
}

#main-phone{
  width:400px;
  margin-top:-200px;
}

#username{
  display:flex;
  margin-top: 50px;
  display:block;
  align-items: center;
}

input{
  height: 52px;
  border-radius: 50px;
  width: 80%;
  display: block;
  margin: 0 auto !important;
  text-align: center;
  font-size: 20px !important;
}