* {
  box-sizing: border-box;
}

@viewport {
  width: device-width;
}

#color-selector {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 120px;
    background: black;
}

.marker {
    width: 40px;
    height: 40px;
    float: left;
}

.marker.selected {
    border: 2px solid white;
}

body {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-image: url('./tryme.png');
    background-size: cover;
}

#main{
/*    height: 100%;
    width: 100%;*/
  padding:100px;
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  /*transform: translate(-50%, -50%);*/
  border: 1px solid yellow;
}

#login {
  text-align: center;
}

button.controller{
  text-align: center;
  height:50px !important;
  width:50px !important;
}





button#up{
  margin-left:50%;
  cursor: pointer;
}
#up:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button#down{
  margin-left:50%;
}
#down:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button#left{
  margin-left: 40%;
  margin-bottom: -5%;
}
#left:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button#right{
  margin-left: 60%;
  margin-bottom: -5%;
}
#right:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#login-btn{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20px;
}
#login-btn:hover {background-color: #3e8e41}
#login-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#signup-btn{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20px;
}
#signup-btn:hover{background-color: #3e8e41}
#signup-btn:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#parent-div{
    position:relative;
}

#leaderboard{
  border:1px solid yellow;
  color:yellow;
}
