* {
/*    width: 100%;
    height: 100%;*/
    box-sizing: border-box;
}


#color-selector {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 120px;
    background: black;
}

.marker {
    width: 40px;
    height: 40px;
    float: left;
}

.marker.selected {
    border: 2px solid white;
}

canvas {
    width: 100vw !important;
    height: 100vh !important;
}

body {
    padding: 0;
    margin: 0;
    background-image: url('./tryme.png');
    background-size: cover;
}

#login {
    text-align: center;
}

#main{
/*    height: 100%;
    width: 100%;*/
  padding:100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid yellow;

}

button.controller{
  height:50px !important;
  width:50px !important;
}


button#up{
  display:block;
  margin-left:25px;
  cursor: pointer;
}

button#down{
  display:block;
  margin-left:25px;
}

button#speed{
  background-color:red;
  border-radius: 50%;
  height:60px;
  width:60px;
  margin-top:25px;
}

#login-btn{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20px;
}
#login-btn:hover {background-color: #3e8e41}
#login-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#signup-btn{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20px;
}
#signup-btn:hover{background-color: #3e8e41}
#signup-btn:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#parent-div{
    position:relative;
}

