* {
  box-sizing: border-box;
  font-family: 'pixeledregular';
  color:yellow;
}

@viewport {
  width: device-width;
}

@font-face {
    font-family: 'pixeledregular';
    src: url('pixeled-webfont.woff2') format('woff2'),
         url('pixeled-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

canvas{
  margin-left: -200px;
}

#color-selector {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 120px;
    background: black;
}

.marker {
    width: 40px;
    height: 40px;
    float: left;
}

.marker.selected {
    border: 2px solid white;
}

body {
    padding: 0;
    margin: 0;
    background-image: url('./images/bg.png');
    background-size: cover;
}

#main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*make controller buttons glow*/
@-webkit-keyframes yellowPulse {
  from { background-color: #FFFF00 ; -webkit-box-shadow: 0 0 9px #FFFF00; }
  50% { background-color: #FFFF7F ; -webkit-box-shadow: 0 0 18px #FFFF7F; }
  to { background-color: #FFFF00 ; -webkit-box-shadow: 0 0 9px #FFFF00; }
}

#main-controller{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

button#right{
  /*margin-top: -5%;
  margin-bottom: 0%;
  margin-left:500%;*/
  border-radius: 50%;
  background-color: #749a02 ;
  -webkit-animation-name: yellowPulse;
  animation-name: yellowPulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  height:80px;
  width:80px;
  color:black;
  /*margin-left:100px;*/
}

 #right:active {
   background-color: #3e8e41 ;
   background-color: #3e8e41 ;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
 }

button#up{
  /*position: absolute;
  margin-left: 25%;
  margin-right: 0;
  margin-top: -15%;
  margin-bottom: 0%;*/
  border-radius: 50%;
  background-color: #749a02;
  -webkit-animation-name: yellowPulse;
  animation-name: yellowPulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  height:80px;
  width:80px;
  color:black;
}

#up:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button#down{
  /*position: absolute;
  margin-left: -25%;
  margin-right: 0%;
  margin-top: 5%;
  margin-bottom: 0%;*/
  border-radius: 50%;
  background-color: #749a02;
  -webkit-animation-name: yellowPulse;
  animation-name: yellowPulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  height:80px;
  width:80px;
  color:black;
/*  margin-left:100px;
  margin-top:50px;*/

}
#down:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button#left{
    border-radius: 50%;
    background-color: #749a02;
    -webkit-animation-name: yellowPulse;
    animation-name: yellowPulse;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    height:80px;
    width:80px;
    color:black;
    /*margin-top:50px;*/
}

#left:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#login-btn{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20px;
}
#login-btn:hover {background-color: #3e8e41}

#login-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#signup-btn{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20px;
}
#signup-btn:hover{background-color: #3e8e41}

#signup-btn:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*WAITING ROOM*/
#waiting-room{
 text-align: center;
 font-size: 100px;
 color:     yellow ;
 animation: glowing 1500ms infinite;
}

@keyframes glowing{
 0% { text-color:     #00FFFF ; text-shadow: 0 0 3px     #00FFFF ; }
 50% { text-color:     #F0F8FF ; text-shadow: 0 0 10px     #F0F8FF ; }
 100% { text-color:     #00FFFF ; text-shadow: 0 0 3px     #00FFFF ; }
}


#parent-div{
    position:relative;
}

#leaderboard{
  color: yellow;
  display: inline-flex;
  padding: 20px;
  position: absolute;
  right: -225px;
}

th{
  padding-bottom: 20px;
}
td{
  padding-bottom: 10px;
}


#score{
  padding-left: 10px;
  text-align: right;
}

.blue{
  color: #34b7ea;
}

.yellow{
  color: yellow;
}

.purple{
  color: purple;
}

.green{
  color: #4cd814;
}

#logo{
  width:1250px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  background-repeat:no-repeat;
  margin:0 auto;
  align-items: center;
}

#logoName{
  margin:0 auto;
}

#banner{
  width:90%;
}

#play{
  width: 350px;
  height: 70px;
  background-image: url(./images/sketch_images/play.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: transparent;
}

#play:hover{
  border:none;
}

#play:active{
  width: 350px;
  height: 70px;
  background-image: url(./images/sketch_images/active-play.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: transparent;
}

#main-phone{
  width:400px;
}

#username{
  display:flex;
  margin-top: 50px;
  display:block;
  align-items: center;
}

#join{
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  border: none;
  background-color: transparent;
  color: yellow;
  animation: glowing 1500ms infinite;
  font-size:25px;
}


input{
  height: 52px;
  border-radius: 50px;
  width: 80%;
  display: block;
  margin: 0 auto !important;
  text-align: center;
  font-size: 20px !important;
}

.welcome-msg{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  margin-bottom:20px;
}

.love{
  width:30px;
  height:30px;
  display: flex-inline;
}

footer{
  align-items: center;
  margin-top: 240px;
  padding-left:40%;
  justify-content: center !important;
}

#welcome-page{
  margin-top: 200px;
}


.glyphicon-chevron-up:before {
    content: "\e113";
    color: black;
}

.glyphicon-chevron-down:before {
    content: "\e114";
    color:black;
}

.glyphicon-chevron-right:before {
    content: "\e080";
    color:black;
}

.glyphicon-chevron-left:before {
    content: "\e079";
    color:black;
}


